<p>Una nueva persona te ha escrito!</p>
<p> Nombre de la persona: <strong><%=nombre%></strong><strong> <%=apellido%></strong></p>
<p>Email: <strong> <%=email%></strong></p>
<p>Subject: <strong> <%=subject%></strong></p>
<br>
<p>Mensaje:</p>
<p><%=mensaje%></p>
<br>
<p>Este correo proviene de http://www.raffallijoseluis.com.ve</p>