<p>¡Una nueva persona te ha escrito!</p>
<br>
<p>- <strong>Nombre de la persona</strong>: <%=nombre%> <%=apellido%></p>
<p>-  <strong>Email</strong>: <%=email%></p>
<p>-  <strong>Subject</strong>: <%=subject%></p>
<p>Mensaje:</p>
<br>
<p><%=mensaje%></p>
<br>
<p><em> correo proviene de http://www.raffallijoseluis.com.ve</em></p>